@import '~foundation-sites/scss/foundation';
@import './setting.scss';
@include foundation-everything();

// Header section
.header {
  height: 145px;

  &__logo {
    min-height: 60px;
    background: url('../../assets/logo.png') no-repeat center;
    background-size: contain;
  }

  &__contact {
    font-style: normal;
    &__number {
      font-size: 1rem;
      text-align: right;
      margin-top: 1rem;
      margin-bottom: 0.5rem;

      span {
        font-size: 1.3rem;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__icon {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center center;
      transition: border-radius 0.15s ease-in;

      &:first-of-type {
        margin-right: 5px;
      }

      &--facebook {
        background-color: #4267b2;
        background-image: url('../../assets/facebook-logo.svg');
      }

      &--twitter {
        background-color: #1da1f2;
        background-image: url('../../assets/twitter-logo.svg');
      }

      &:hover {
        border-radius: 20px;
      }
    }
  }
}
//

.full-height {
  height: 100%;
}

// Navigation Bar

.nav {
  padding: 13px 0;
  background-color: $dark-grey;
  margin-bottom: 20px;

  &__item,
  a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0px 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    height: 100%;
  }
}

// Slider

.slider__container {
  height: 300px;
}

// Search Panel

.search-panel {
  background-color: $red;
  padding: 15px 20px;

  p {
    font-size: 1.15rem;
    font-weight: 600;
    color: #fff;
    margin: 0 0 15px;
  }

  button {
    padding: 15px 0;
    width: 100%;
    font-weight: 600;
  }

  select {
    font-size: 0.85rem;
  }
}

// Main section

main {
  margin-top: 40px;

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.cards {
  margin: 25px 0 35px;

  .card {
    height: 220px;
    margin-bottom: 0;

    &__button,
    a {
      background-color: $red;
      text-align: center;
      color: #fff;
      font-weight: 600;

      &:hover {
        background-color: $dark-red;
      }
    }
  }
}
// Foooter

.footer {
  background-color: $dark-grey;
  margin-top: auto;
  padding: 30px;
  width: 100%;
  min-height: 135px;
  @include flex;
  @include flex-align(center, center);

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  &__tag,
  a {
    background-color: $medium-grey;
    color: $light-grey;
    font-weight: 600;
    padding: 5px 9px;
    margin: 4px;

    &:hover {
      background-color: $grey;
    }
  }
}

// Dummy image
.dummy-image {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/placeholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.red {
  background-color: $red;
}
